<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">
  <ion-card>
    <img [src]="recipe.image" />
    <ion-card-header>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Resumo:</strong></p>
      <p [innerHTML]="recipe.summary"></p>

      <p><strong>Tempo de preparo:</strong> {{ recipe.readyInMinutes }} minutos</p>
      <p><strong>Porções:</strong> {{ recipe.servings }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <h2>Ingredientes</h2>
    </ion-list-header>
    <ion-item *ngFor="let ingredient of recipe.extendedIngredients">
      {{ ingredient.original }}
    </ion-item>
  </ion-list>
</ion-content>
