<!-- src/app/receitas-almoco-jantar/receitas-almoco-jantar.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Receitas de Almoço/Jantar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div *ngIf="user; else noUser">
    <div class="welcome-message">
      <p>Bem-vindo,<strong> {{ user.nome }}!</strong>
      Aqui você poderá ver deliciosas receitas para o seu almoço e jantar.</p>
    </div>

  </div>

  <ng-template #noUser>
    <ion-card class="rounded-card">
      <ion-card-header>
        <ion-card-title>
          Nenhum usuário autenticado
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Você não está logado. Por favor, faça login para acessar as receitas.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
