@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

ion-content {
  --background: #2d3e1f; 
}
.welcome-message {
display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 2em;
  color: #84e9b0;
  margin-top: 5vh; 
  text-shadow: 3px 3px 5px #66bb6a;
  }
.app-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 5em;
  color: #84e9b0;
  text-shadow: 3px 3px 5px #66bb6a;
}

.letter {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
  animation-delay: calc(0.3s * var(--i)); 
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.app-subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.5em;
    color: #84e9b0;
    text-shadow: 3px 3px 5px #66bb6a;
    margin-bottom: 5vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rounded-input {
  --background: #ffffff;
  --border-radius: 15px;
  --box-shadow: 0px 4px 10px #66bb6a; 
  margin: 10px 20px;
  padding: 5px;
  display: flex;
  align-items: center; 
}

ion-item.rounded-input {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #66bb6a; 
}

.input-icon {
  color: #66bb6a;
  font-size: 1.5em;
}

ion-label, ion-input {
  color: #333333; 
}

ion-input {
    --placeholder-opacity: 1; 
  }
  
  ion-item.rounded-input {
    --inner-padding-end: 0;
  }
  
  ion-input::part(native) {
    transition: all 0.2s ease; 
  }
  
  .custom-button {
    border-radius: 50px; 
    position: relative; 
    overflow: hidden;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
    color: white;
    background-color: #66bb6a;
    width: 70%;
    text-align: center;
    display: flex;
  }
  
  .custom-button::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #84e9b0 ; 
    transition: left 0.3s ease; 
  }
  
  .custom-button:hover::before {
    left: 0; 
  }
  
  .custom-button:hover {
    color: #fff; 
  }
  ion-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }