ion-content {
  --background: #2d3e1f; 

}

ion-toolbar {
  --background: #66bb6a;
  color: #fff;
  text-shadow: 2px 2px 4px #2d3e1f;
  font-family: 'Baloo 2', sans-serif;
}

ion-title {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.5em;
}

.welcome-message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 2em;
  color: #84e9b0;
  margin-top: 10vh; 
  text-shadow: 3px 3px 5px #66bb6a;
}

.app-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 5em;
  color: #84e9b0;
  text-shadow: 3px 3px 5px #66bb6a;
}

.letter {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
  animation-delay: calc(0.3s * var(--i)); 
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.app-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.5em;
  color: #84e9b0;
  text-shadow: 3px 3px 5px #66bb6a;
  margin-bottom: 5vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.rounded-card {
  --background: #ffffff;
  --border-radius: 15px;
  --box-shadow: 0px 4px 10px #66bb6a; 
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%; 
  max-width: 500px; 
  height: auto; 
  font-family: 'Baloo 2', sans-serif;
  
}

ion-card.rounded-card {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #66bb6a; 
}

ion-card-title {
  color: #333333;
  margin-bottom: 15px;
  font-size: 1.2em; 
  font-family: 'Baloo 2', sans-serif;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ion-card-content p {
  color: #333333;
  font-size: 1.2em;
  margin: 8px 0; 
}

ion-card-content p strong {
  color: #66bb6a; 
}

ion-card-title strong{
  color: #66bb6a;
}
.custom-button {
  border-radius: 50px; 
  position: relative; 
  overflow: hidden; 
  padding: 10px 20px; 
  transition: background-color 0.3s ease; 
  color: white;
  background-color: #66bb6a;
  text-align: center;
  display: flex;
}

.custom-button::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #84e9b0 ;
  transition: left 0.3s ease; 
}

.custom-button:hover::before {
  left: 0; 
}

.custom-button:hover {
  color: #fff; 
}

ion-button {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
}

ion-input {
  background: #ffffff;
  --color: #66bb6a;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
  font-family: 'Baloo 2', sans-serif;
}
